@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
}

.bubbles ul li {
    position: absolute;
    width: 35px;
    height: 35px;
    list-style: none;
    opacity: 0;
    background: radial-gradient(#fff, transparent, transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite;
}

.bubbles ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;
}

.bubbles ul li:nth-child(3) {
    left: 25vw;
    animation-delay: 4s;
}

.bubbles ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
}

.bubbles ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }

    100% {
        transform: scale(10);
        opacity: 0;
        bottom: 100vh;
    }
}

.container h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
}

.card-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .card-image {
    max-height: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .card-image {
    max-height: 200px;
  }
}