@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    width: 100%;
    height: fit-content;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    margin: auto;
    max-width: 800px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.5);
    padding: 50px 150px;
    border-radius: 5px;
}

.introduction h2 {
    font-size: 1.2em;
    font-weight: 700;
}

.introduction p {
    font-size: 0.9em;
    margin: 15px 0 25px 0;
    text-align: justify;
}

.introduction button {
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: .5s ease;
}

.introduction button:hover {
    background-color: #353535;
}

.introduction a {
    color: #fff;
    text-decoration: none;
}

.curiculum-vitae {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-download {
    color: #000;
    margin-bottom: 15px;
}

.social-media {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px;
}

.social-media i {
    font-size: 1.5em;
}

.fa-linkedin-in {
    background: linear-gradient(135deg, #2b50de, #21bece);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-instagram {
    background: linear-gradient(135deg, #893ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-facebook-f {
    background: linear-gradient(135deg, #3ac6c9, #3d18c4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.fa-github {
    background: linear-gradient(135deg,#7b7e7e, #0a0a0a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.profile {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 0 3px 1px rgba(200, 200, 200, 0.5);
    border-radius: 5px;
}

.profile img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.profile h2 {
    font-size: 1.1em;
    font-weight: 600;
}

.profile p {
    font-size: 0.7em;
    margin-bottom: 10px;
}