<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/responsive-bootstrap.css" />
    <title>Contact Form</title>
  </head>
  <body class="bg-aliceblue">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-navbar">
      <div class="container-fluid container">
        <a class="navbar-brand" href="#">
          <img src="../assets/images/dumbways.png" alt="Logo" class="w-1" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link fw-semibold text-light" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-semibold text-light" href="/blog">My Blog</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link fw-semibold text-light"
                href="/testimonial"
              >Testimonials</a>
            </li>
          </ul>
          <div class="d-flex gap-3 me-3">
            <button class="btn bg-warning">
              <a
                href="/register"
                class="text-decoration-none text-light"
              >Register</a>
            </button>
            <button class="btn bg-success">
              <a href="/login" class="text-decoration-none text-light">Login</a>
            </button>
          </div>
          <button class="btn bg-orange text-light">
            <a href="/contact" class="text-decoration-none text-light">Contact
              Me</a>
          </button>
        </div>
      </div>
    </nav>

    <!-- Form Submission -->
    <section class="contact py-5">
      <h2 class="text-center fs-3 fw-semibold">GET IN TOUCH</h2>
      <form
        action="#"
        class="container d-flex flex-column gap-3 justify-content-center align-items-center w-100 mw-3 h-auto"
      >
        <!-- Name -->
        <div class="input-field field w-100 d-flex flex-column">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="item border-none b-s rounded-1 p-1 px-2"
            placeholder="Full Name"
          />
          <div class="error-text">Please enter your Full Name</div>
        </div>

        <!-- Email -->
        <div class="input-field field w-100 d-flex flex-column">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="item border-none b-s rounded-1 p-1 px-2"
            placeholder="Email Address"
          />
          <div class="error-text">Please enter your Email Address</div>
        </div>

        <!-- Phone Number -->
        <div class="input-field field w-100 d-flex flex-column">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            class="item border-none b-s rounded-1 p-1 px-2"
            placeholder="Phone Number"
          />
          <div class="error-text">Please enter your Phone Number</div>
        </div>

        <!-- Subject -->
        <div class="input-field field w-100 d-flex flex-column">
          <label for="subject">Subject</label>
          <select
            name="subject"
            id="subject"
            class="item border-none b-s rounded-1 p-1 px-2"
          >
            <option value="frontend">FrontEnd</option>
            <option value="backend">BackEnd</option>
            <option value="fullstack">FullStack</option>
          </select>
          <div class="error-text">Select a subject to continue</div>
        </div>

        <!-- Message -->
        <div class="textarea-field field w-100 d-flex flex-column">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            class="item border-none b-s rounded-1 p-1 resize-none h-5 px-2"
          ></textarea>
          <div class="error-text">Type in your Message here</div>
        </div>

        <!-- Submit Button -->
        <div class="button-field field w-100 d-flex justify-content-end">
          <button type="submit" class="btn bg-white fw-semibold">Submit</button>
        </div>
      </form>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/contact.js"></script>
  </body>
</html>