@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: fit-content;
}

.contact {
  max-width: 600px;
  margin: 150px auto;
  color: #fff;
  background: linear-gradient(135deg, #23debc, #2770ce);
  border-radius: 5px;
}

.contact h2 {
  padding: 25px 0;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}

.contact form {
  height: fit-content;
  padding: 0 25px;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.textarea-field {
  display: flex;
  flex-direction: column;
}

.input-field input,
.input-field select,
.textarea-field textarea {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 5px;
}

.textarea-field textarea {
  height: 100px;
  resize: none;
}

.button-field button {
  border: none;
  width: 100%;
  height: 30px;
  max-width: 100px;
  margin: 25px 0;
  color: #fff;
  background: linear-gradient(135deg, #e1e221, #d61313);
  border-radius: 5px;
  cursor: pointer;
}

.error-text {
  font-size: 0.8em;
  color: red;
  margin: 5px 1px;
  display: none;
}

.item.error {
  border: 1px solid red;
}

.input-field.error .error-text,
.textarea-field.error .error-text {
  display: block;
}
